img {
    display: block;
    max-width: 100%;
    height: auto;
}

.images__thumb {
    position: relative;
}

.images__thumb>.images__label {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 370px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    background-color: rgba(47, 48, 58, 0.8);
    color: $color-white;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 27px 0;
    text-transform: uppercase;
}

.section-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 10px;
}

.section--photoes {
    padding-top: 0px;
}

.section__about-us {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.images:last-child {
    margin-right: 0px;
}
